. * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(182, 220, 197);
}
.userCard {
    position	: absolute;
	top		    : 0;
	bottom		: 0;
	left		: 0;
	right		: 0;
	margin		: auto;
	height		: 450px;
    width		: 300px;
    border-radius: 5%;
    overflow: hidden;
    background-size: cover;
    background-color: aliceblue;
}
.cardTop {
    height: 150px;
    background-image: url(https://art-oboi.com.ua/img/gallery/23/thumbs/thumb_l_2612.jpg);
}
.cardImage {
  width: 120px;
  height: 120px;
  overflow: hidden;
  
  z-index: 1;
  position: absolute;  
  top: 90px;
  left		: 0;
    right		: 0;
  margin		: auto;
}
.cardImage img {
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
.userInfo {
    margin-top: 70px;
}
.userName {
    text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 5px;
}
.userPlace {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
}
.userProf {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px;
}
.userText {
    text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 5px;
  margin-top: 10px;
}
.footer {
    position	: absolute;
    height: 100px;
    width: inherit;
    font-size: 0;
    bottom: 0;
}
.instagram {
    position: relative;
    display: inline-block;
  width: calc(100% / 3);
  height: inherit;
  background-color: aqua;
  
}
.instagram  img {  
    position: absolute;
    top		    : 0;
	bottom		: 0;
	left		: 0;
	right		: 0;
	margin		: auto;
    
}
.tvitter {
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    height: inherit;
    background-color: blue;
}
.tvitter > img {  
    position: absolute;
    top		    : 0;
	bottom		: 0;
	left		: 0;
	right		: 0;
	margin		: auto;
    
}
.facebook {
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
    height: inherit;
    background-color: brown;
}
.facebook > img {  
    position: absolute;
    top		    : 0;
	bottom		: 0;
	left		: 0;
	right		: 0;
	margin		: auto;
    
}